<section class="section">
  <h2 class="title"><%= current_user.name %>'s Album</h2>
  <h3 class="subtitle">Edit your stickers:</h3>

  <%= form_for @album do |f| %>
    <%= f.hidden_field(:user_id) %>
    <% (0..9).each do |i| %>
      <div class="columns">
        <% (1..10).each do |j| %>
          <div class="column">
            <div class="control">
              <% sticker = j  + (10 * i) %>
              <p class="box has-text-centered has-text-weight-bold is-size-1">
                <%= sticker %>
              </p>

              <label class="radio">
                <%= f.radio_button("sticker_#{sticker}".to_sym, "got_it") %>
                <!-- <input type="radio" id="got_it" name="sticker_<%= sticker %>"> -->
                Got it
              </label>

              <label class="radio">
                <%= f.radio_button("sticker_#{sticker}".to_sym, "duplicate") %>
                Duplicate
              </label>

              <label class="radio">
                <%= f.radio_button("sticker_#{sticker}".to_sym, "missing") %>
                Missing
              </label>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= f.submit "Save", class: "button is-success is-large" %>
    <%= link_to "Cancel", '/', class: "button is-danger is-large" %>
  <% end %>
</section>
