<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title>Unofficial Interstate Sticker Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@picandocodigo"/>
    <meta name="twitter:title" content="The Unofficial Brewdog Interstate Sticker Club Web App"/>
    <meta name="twitter:description" content="Manage your Brewdog Interstate Sticker collection"/>
    <meta name="twitter:creator" content="@picandocodigo"/>
    <meta name="twitter:image:src" content='<%= image_url "interstate-club.jpg" %>'/>
    <meta name="twitter:domain" content="https://interstate-sticker-club.herokuapp.com/"/>
    <!-- Open Graph -->
    <meta property="og:title" content="The Unofficial Brewdog Interstate Sticker Club Web App" />
    <meta property="og:description" content="Manage your Brewdog Interstate Sticker collection" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://interstate-sticker-club.herokuapp.com/" />
    <meta property="og:image" content='<%= image_url "interstate-club.jpg" %>' />
  </head>

  <body>
    <%= render "layouts/nav" %>

    <section>
      <div class="container">
        <%= yield %>
      </div>
    </section>
    <footer class="footer">
      <div class="content is-size-7">
        <small>
          <p>
            This website was created to manage your stickers for the<a href="https://www.brewdog.com/lowdown/blog/the-interstate-sticker-club" target="_blank"> Brewdog interstate Sticker Club</a>. Its code is Free Software, so you can see the source code, download it, use it, modify it and/or redistribute it from <a href="https://github.com/picandocodigo/interstate_club">here</a>.
          </p>
          <p>
            Developed by Fernando Briano. I am an EFP, but this site is not endorsed by, supported by or related to Brewdog other than they created the stickers, I collect them, and I was drinking their beer while writing this code. If you want to contact me, I'm <em>Fernando_Briano</em> <a href="https://forum.brewdog.com/" target="_blank"> in the EFP forums</a> or <a href="http://fernandobriano.com" target="_blank">visit my website</a> to find me elsewhere.
          </p>
        </small>
      </div>
    </footer>
  </body>
</html>
